/* ページ全体 */

body {
  background-color: #da5e0c;
}

/** ヘッダー */

.header_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 14px 0 8px 0;
}

.header_logo {
}

.logo_image {
}

.header_menu {
}

/* リンク文字 */

.header_menu_item a {
}

/* リンク文字ホバー時 */

a:hover {
}

.contents_item h1 {
}

.header {
  background-color: rgb(17, 31, 59);
}
.header_menu {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.header_menu1 {
  margin: 3px;
}
.header_menu2 {
  margin: 3px;
}
.header_menu3 {
  margin: 3px;
}

.title {
  color: rgb(0, 245, 102);
  font-size: 60px;
  margin-left: 2%;
}
.description {
  margin-left: 2%;
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  word-break: break-all;
}
.aaa {
  color: rgb(232, 244, 255);
  font-size: 20px;
}
.membertitle {
  background-color: #ffffff;
}
.memt {
  color: rgb(0, 245, 102);
  font-size: 30px;
  margin-left: 2%;
}
.memberbox {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.mem {
  background-color: rgb(17, 31, 59);
  width: 17%;
  margin: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
.pic {
  display: flex;
  justify-content: center;
}
.pic img {
  width: 85%;
}
.name {
  color: #ffffff;
  font-size: 20px;
}
.gametitle {
  background-color: rgb(17, 31, 59);
  display: flex;
  align-items: flex-end;
  height: 55px;
}
.gamt {
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-left: 2%;
}
.gamebox {
  background-color: rgb(17, 31, 59);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 35px;
}
.gam {
  background-color: rgb(245, 218, 242);
  width: 20%;
  margin: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
.gamepic {
  display: flex;
  justify-content: center;
}
.gamepic img {
  width: 85%;
}
.gamename {
  color: #312f2f;
  font-size: 20px;
}
.contacttitle {
  background-color: rgb(240, 128, 156);
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 55px;
}
.cont {
  color: rgb(135, 229, 241);
  font-size: 20px;
  margin-left: 5%;
}
.contactbox {
  background-color: rgb(240, 128, 156);
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-bottom: 35px;
  padding-left: 5%;
  width: 100%;
}

@media screen and (max-width: 499px) {
  /*　画面サイズ 499pxまで適用　*/

  .title {
    font-size: 24px;
  }

  .aaa {
    font-size: 15px;
  }

  .memt {
    font-size: 20px;
    margin-left: 2%;
  }

  .mem {
    width: 35%;
    margin: 1%;
  }

  .gamt {
    font-size: 15px;
  }

  .gam {
    width: 35%;
    margin: 3%;
  }
}
